In [ ]:
#Practice questions
'''1. Create a string with your name and print it:'''
name = "Lakshmi Prasanna"
print(name)

Lakshmi Prasanna

In [ ]:
#2.Find the length of the string "Hello World":
text = "Hello World"
print(len(text))

11

In [ ]:
#3.Slice the first 3 characters from the string "Python Programming":

text = "Python Programming"
print(text[:3])

Pyt

In [ ]:
#4.Convert the string "hello" to uppercase:
text = "hello"
print(text.upper())

HELLO

In [ ]:
#5.Replace "apple" with "orange" in "I like apple":
text = "I like apple"
print(text.replace("apple", "orange"))

I like orange

In [ ]:
#6.Create a list with numbers 1 to 5 and print it:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
#7.Append the number 10 to the list [1, 2, 3, 4]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [ ]:
#8.Remove the number 3 from the list [1, 2, 3, 4, 5]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [ ]:
#9.Access the second element in the list ['a', 'b', 'c', 'd']:
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [ ]:
#10.Reverse the list [10, 20, 30, 40, 50]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [ ]:
#11. Create a tuple with elements 100, 200, 300 and print it.
t = (100, 200, 300)
print(t)

(100, 200, 300)

In [ ]:
#12. Access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [ ]:
#13. Find the minimum number in the tuple (10, 20, 5, 15).
numbers = (10, 20, 5, 15)
print(min(numbers))

5

In [ ]:
#14. Find the index of "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

In [ ]:
#15. Create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ('apple', 'banana', 'mango')
print("kiwi" in fruits)

False

In [ ]:
#16. Create a set with elements 'a', 'b', 'c' and print it.
s = {'a', 'b', 'c'}
print(s)

{'a', 'c', 'b'}

In [ ]:
#17. Clear all elements from the set {1, 2, 3, 4, 5}.
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [ ]:
#18. Remove element 4 from the set {1, 2, 3, 4}.
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [ ]:
#19. Find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [ ]:
#20. Find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

In [ ]:
#21. Create a dictionary with keys "name", "age", and "city" and print it.
person = {"name": "John", "age": 25, "city": "New York"}
print(person)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [ ]:
#22. Add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
person = {'name': 'John', 'age': 25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
#23. Access the value associated with the key "name" in {'name': 'Alice', 'age': 30}.
person = {'name': 'Prasanna', 'age': 21}
print(person["name"])

Alice

In [ ]:
#24. Remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
person = {'name': 'prasanna', 'age': 21, 'city': 'Amalapuram'}
del person["age"]
print(person)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
#25. Check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
person = {'name': 'Radha', 'city': 'Delhi'}
print("city" in person)

True

In [ ]:
#26. Create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 7, "b": 8}
print(my_list, my_tuple, my_dict)

[1, 2, 3] (4, 5, 6) {'a': 7, 'b': 8}

In [ ]:
#27. Create a list of 5 random numbers between 1 and 100, sort it, and print the result.
import random
numbers = random.sample(range(1, 101), 5)
numbers.sort()
print(numbers)

[12, 20, 34, 53, 74]

In [ ]:
#28. Create a list with strings and print the element at the third index.
words = ["apple", "banana", "cherry", "date", "elderberry"]
print(words[3])

date

In [ ]:
#29. Combine two dictionaries into one and print the result.
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined = {**dict1, **dict2}
print(combined)

In [ ]:
#30. Convert a list of strings into a set.
words = ["apple", "banana", "apple", "cherry"]
unique_words = set(words)
print(unique_words)

{'banana', 'cherry', 'apple'}